<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension="." mimeType="application/octet-stream" />
        </staticContent>
		<modules>
		</modules>
        <handlers>
            <add name="HtmlRequest" path="*.html" verb="GET,POST" modules="IsapiModule" scriptProcessor="C:\Windows\System32\inetsrv\asp.dll" resourceType="Unspecified" requireAccess="Execute" preCondition="bitness64" />
        </handlers>
    </system.webServer>
</configuration>
